<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="logsTable">
    <br/>
    <h2 class="text-center tracking-wider text-2xl mt-10 mb-12">
        <span th:text="'Logs'"></span>
    </h2>

    <table class="mt-12 min-w-full divide-y divide-gray-200 text-primary">
        <thead class="bg-gray-200">
        <tr>
            <th class="px-6 py-3 text-left text-sm uppercase tracking-widest">From</th>
            <th class="px-6 py-3 text-left text-sm uppercase tracking-widest">Start-time</th>
            <th class="px-6 py-3 text-left text-sm uppercase tracking-widest">To</th>
            <th class="px-6 py-3 text-left text-sm uppercase tracking-widest">End-time</th>
            <th class="px-6 py-3 text-left text-sm uppercase tracking-widest">Distance</th>
            <th class="px-6 py-3 text-left text-sm uppercase tracking-widest">Money Spent</th>
            <th class="px-6 py-3 text-left text-sm uppercase tracking-widest">Notes</th>
        </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
        <tr th:each="log, iStat: ${logs}">
            <td class="whitespace-nowrap">
                <span th:text="${log.getStartLocation()}"/>
            </td>
            <td class="whitespace-nowrap">
                <span th:text="${log.getStartTime()}"/>
            </td>
            <td class="whitespace-nowrap">
                <span th:text="${log.getEndLocation()}"/>
            </td>
            <td class="whitespace-nowrap">
                <span th:text="${log.getEndTime()}"/>
            </td>
            <td class="whitespace-nowrap">
                <span th:text="${log.getDistance()}"/>
            </td>
            <td class="whitespace-nowrap">
                <span th:text="${log.getMoneySpent()}"/>
            </td>
            <td class="whitespace-nowrap">
                <span th:text="${log.getNotes()}"/>
            </td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>
