<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="css/tailwind.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>
<h1 class="text-center tracking-wider text-4xl mt-10 mb-12">
    <span th:text="'Summarize Report'"></span>
</h1>

<div class="p-8">
    <div class="grid grid-cols-2 grid-rows-1">
        <div><h2 class="text-gray-500">Total time</h2>
            <p class="font-bold text-3xl" th:text="${totalTime}"></p>
        </div>
        <div><h2 class="text-gray-500">Total distance</h2>
            <p class="font-bold text-3xl" th:text="${totalDistance}"></p>
        </div>
    </div>

    <div th:insert="logsTable :: logsTable"></div>

</div>

</body>
</html>
