<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="css/tailwind.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>
<h3 style="text-align: center; color: green">
    <span th:text="'Tour Report'"></span>
</h3>
<span>
    <p><b>Name: </b><span th:text="${name}"></span></p>
    <p><b>Description: </b><span th:text="${description}"></span></p>
    <p><b>Total distance: </b><span th:text="${distance}"></span></p>

    <img th:src="@{'data:image/jpeg;base64,'+${image}}"/>

    <div th:insert="logsTable :: logsTable"></div>
</span>
</body>
</html>
